body{
margin:0;
background:#0f172a;
color:white;
font-family:Arial;
text-align:center;
}

.main{
width:400px;
margin:auto;
}

.ai{
width:150px;
border-radius:50%;
}

.chatbox{
height:300px;
overflow:auto;
background:#111;
padding:10px;
border-radius:10px;
margin:10px 0;
}

.user{
text-align:right;
background:cyan;
color:black;
padding:8px;
margin:5px;
border-radius:10px;
}

.bot{
text-align:left;
background:#333;
padding:8px;
margin:5px;
border-radius:10px;
}

.inputBox{
display:flex;
gap:10px;
}

input{
flex:1;
padding:10px;
border-radius:10px;
border:none;
}

button{
padding:10px;
border:none;
border-radius:10px;
cursor:pointer;
}